<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">NiceAdmin</span>
                            </a>
                        </div>

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" [formGroup]="registrationForm"
                                    (ngSubmit)="submitForm()">
                                    <div class="col-12">
                                        <label for="yourName" class="form-label">First Name</label>
                                        <input type="text" name="fname" formControlName="fname" class="form-control">
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['fname'].valid || !registerControls['fname'].valid && registerControls['fname'].touched">Please
                                            provide first name</span>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Last Name</label>
                                        <input type="text" name="lname" formControlName="lname" class="form-control">
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['lname'].valid || !registerControls['lname'].valid && registerControls['lname'].touched">Please
                                            provide last name</span>
                                    </div>


                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        <input type="email" name="email" formControlName="email" class="form-control">
                                        <span class="errormsg"
                                            *ngIf="(submitted && !registerControls['email'].valid) || (!registerControls['email'].valid && registerControls['email'].touched)">
                                            {{ registerControls['email'].errors?.['pattern'] ? 'Please provide a valid
                                            email' : 'Please provide a email' }}
                                        </span>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input type="password" name="password" formControlName="password"
                                            class="form-control">
                                        <span class="errormsg"
                                            *ngIf="(submitted && !registerControls['password'].valid) || (!registerControls['password'].valid && registerControls['password'].touched)">
                                            {{ registerControls['password'].errors?.['pattern'] ? 'Please provide a
                                            valid password' : 'Please provide a password' }}
                                        </span>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourName" class="form-label">Address</label>
                                        <textarea type="text" name="address" formControlName="address" class="form-control"></textarea>
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['address'].valid || !registerControls['address'].valid && registerControls['address'].touched">Please
                                            provide address</span>
                                    </div>

                                    <div class="col-12">
                                        <label for="date_of_birth" class="form-label">Date of Birth</label>
                                        <input type="date" name="date_of_birth" formControlName="date_of_birth" class="form-control">
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['date_of_birth'].valid || !registerControls['date_of_birth'].valid && registerControls['date_of_birth'].touched">Please
                                            provide date of birth</span>
                                    </div>

                                    <div class="col-12">
                                        <label for="role" class="form-label">Role</label>
                                        <div class="dropdown-select">
                                            <select name="role" formControlName="role" class="form-control">
                                                <option value="D">Doctor</option>
                                                <option value="P">Patient</option>
                                            </select>
                                            <span class="dropdown-arrow"></span>
                                        </div>
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['role'].valid || !registerControls['role'].valid && registerControls['role'].touched">Please
                                            select role</span>
                                    </div>

                                    <div class="col-12" *ngIf="registerControls['role'].value == 'D'">
                                        <label for="speciality" class="form-label">Speciality</label>
                                        <div class="dropdown-select">
                                            <select name="speciality" formControlName="speciality" class="form-control">
                                                <option value="cardiology">Cardiology</option>
                                                <option value="orthopedics">Orthopedics</option>
                                                <option value="dermatology">Dermatology</option>
                                            </select>
                                            <span class="dropdown-arrow"></span>
                                        </div>
                                        <span class="errormsg"
                                            *ngIf="submitted && !registerControls['speciality'].valid || !registerControls['speciality'].valid && registerControls['speciality'].touched">Please
                                            select speciality</span>
                                    </div>



                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a routerLink="/login">Login</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>